<html lang="en-us" ng-app="myApp">
<head>
	<title>Angular js practice</title>
	
	<link rel="stylesheet" href="stylesheets/bootstrap.css">
</head>
<script type="text/javascript">

</script>
<body>
<h1 reply="hello back">Hello world</h1>
<h4>this is first page of angular js </h4>

<div ng-controller="mainController">
	
	<!--<h3>hello world</h3> -->
	<!--
    <form name="myForm">
   <label>
      Enter text:
      <input type="text" ng-model="field" name="myField"  minlength="5" ng-maxlength="10" required maxlength="11">
    </label>
    <div ng-messages="myForm.myField.$error" role="alert">
      <div ng-message="required" class="alert alert-danger">You did not enter a field</div>
      <div ng-message="minlength" class="alert alert-danger">
        Your email must be between 5 and 20 characters long
      </div>
      <div ng-message="maxlength" class="alert alert-danger">
        more then the limit
      </div>
    </div>
  </form>
    
-->
</div>
<script type="text/javascript" src="javascripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="javascripts/angular.min.js"></script>

<script type="text/javascript" src="javascripts/app.js"></script>

</body>

</html>