<html lang="en-us" ng-app="myApp">
<head>
	<title>Angular js practice</title>
	
	<link rel="stylesheet" href="../stylesheets/bootstrap.css">
</head>
<script type="text/javascript">

</script>
<body>
<h4>tell me your faceboom account </h4>

<div ng-controller="mainController">
	 <div>
    <label>what is your facebook account</label>
    <input type="text" ng-model="handle">
  </div>
  <h2>{{ handle }}.facebook.com</h2>

<div>
    <label>what is your twitter handle</label>
    <input type="text" ng-model="name">
  </div>
  <h2>twitter.com/ {{ name }}</h2>
  <form name="myForm">
  <label>
    Enter text:
    <input type="text" ng-model="field" name="myField" required minlength="5" />
  </label>
  <div ng-messages="myForm.myField.$error" role="alert">
    <div ng-message="required">You did not enter a field</div>
    <div ng-message="minlength, maxlength">
      Your email must be between 5 and 100 characters long
    </div>
  </div>
</form>

</div>
<script type="text/javascript" src="../javascripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../javascripts/angular.min.js"></script>
<script type="text/javascript" src="../javascripts/angular-messages.js"></script>

<script type="text/javascript" src="app.js"></script>

</body>

</html>