<html lang="en-us" ng-app="myApp">
<head>
	<title>Angular js practice</title>
	
	<link rel="stylesheet" href="../stylesheets/bootstrap.css">
</head>
<script type="text/javascript">

</script>
<body>
<h1 reply="hello back">Hello world</h1>
<h4>interpolation Example </h4>

<div ng-controller="mainController">
	   <h1>Hello {{ name }}</h1>
</div>
<script type="text/javascript" src="../javascripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../javascripts/angular.min.js"></script>

<script type="text/javascript" src="app.js"></script>

</body>

</html>